span.MuiTypography-subheading-115{
    color:white;
}
span.MuiTypography-subheading-78{
    color:white
}
span.MuiTypography-subheading-99{
    color:white;
    font-family: 'Source Sans Pro';
    font-size: 100%;
}
svg.MuiSvgIcon-root-92 path:first-child{
    fill:white
}

hr.MuiDivider-root-154{
    background:white;
}
header.MuiAppBar-colorPrimary-20{
    background-color:rgb(45,127, 112)
}
div.Main-toolbar-7{
    background-color:rgb(45,127, 112);
    height : 70px;
    border-bottom: white 1px solid;
}
Input.MuiInputBase-input-85{
    font-family: 'Source Sans Pro';
    font-size: 100%;
    padding: 0;
}
main.Main-content-8{
height: 100%;

}
.appBarSpacer{
    flex-Grow: 1;
    padding:30px;
    height: '100vh';
    overflow: 'auto';
}
div.MuiDrawer-paperAnchorDockedLeft-61{
    border-right: white 1px solid;
}
div.MuiDrawer-paperAnchorDockedRight-63{
    border-left: white 1px solid;
}
.Main-menuButton-9{
    visibility: hidden;
}
.Main-search-13>div:first-child{
    display:inline-block
}
.Main-search-13{
    margin-top: 10%;
}
Input.MuiInputBase-input-101{
    margin: 0;
}
svg.MuiSvgIcon-root-66{
    color: white
}
svg.MuiSvgIcon-root-66.searchIcon{
    color:white;
    height: 15px;
}
div.Main-search-13{
    padding:5px;
}