*{
    font-family:'Roboto', sans-serif;
}
div.nav-item, Nav.Link{
    padding-right: 10px;
    padding-left:10px;
}
.list-group-item{
    background-color: inherit;
    border-top :0;
    border-right: 0;
    border-left: 0;
    cursor: pointer;
}
#FloatingCard{
    width: '18rem';
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 1000;
    background-color: Gainsboro;
    color:black;
    padding: 1.5%;
    opacity: 0.85;
    overflow-y: auto;
    max-height: 485px;
    text-align: center;
}
#FloatingCard::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#FloatingCard::-webkit-scrollbar
{
    width: 12px;
}

#FloatingCard::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

#newBtn{
    background-color:#00ff7f;
    color:black;
    border:none;
}
#newBtn:hover{
    background-color:#00cd66;
    color: white
}

#FloatingCardSoldier{
    width: '18rem';
    position: absolute;
    top: 15%;
    right: 5%;
    z-index: 1000;
    background-color: Gainsboro;
    color:black;
    padding: 2%;
    opacity: 0.85;
}
#FloatingCardSoldier .startCard{
    margin-top: 10px;
}
form.formStyle{
    padding: '10px 25px' ;
}
label{
    display: -webkit-box;
    margin-bottom: 0;
    font-size: 13px;
}
div.inputContainerStyle{
    display: 'flex';
    justify-Content: 'flex-start';
    margin: '5px 0px';
}
input.inputStyle{
    margin-Left: '7px';
    border:'0px';
    border-Radius: '2px';       
    padding: '3px 5px';
    font-family:'Roboto', sans-serif;
}

#hideSearch{
    border: 0;
    margin-right: 0px;
  }
#exitBtn{
    background-color: inherit;
    position: absolute;
    top: 3px;
    right: 3px;
}
#soldierImage{
    border-radius: 50%;
    height:100px;
    width: 100px;
    display: block;
    margin: 0 auto;
}
#dropdown-item-button{
    color:rgba(0,0,0,.5);
    background-color: transparent;
    border-color: transparent;
    border: transparent;
    box-shadow: none;
    padding: 7.1%;
}
#dropdown-item-button:hover{
    color:rgba(0,0,0,.7);
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
/* .dropdown-item:hover, .dropdown-item:focus {
    background-color:transparent;
} */
.dropdown-menu{
    z-index: 10000;
}
.dropup {
    position: absolute;
    bottom: 4px;
    right: 25%;
    z-index: 400;
    opacity: 0.85;
}

.dropup .dropdown-menu{
    overflow-y: auto;
    max-height: 300px;
    left: -100px
}
.dropup .dropdown-menu::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.dropup .dropdown-menu::-webkit-scrollbar
{
    width: 12px;
}

.dropup .dropdown-menu::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.btn.btn-secondary:first-of-type{
    width: 617px
}
div.dropdown-menu.show{
    left: -6px;

}

