*{
    font-family:'Roboto', sans-serif;
}
div.nav-item, Nav.Link{
    padding-right: 10px;
    padding-left:10px;
}
.list-group-item{
    background-color: inherit;
    border-top :0;
    border-right: 0;
    border-left: 0;
    cursor: pointer;
}
#FloatingCard{
    width: '18rem';
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 1000;
    background-color: Gainsboro;
    color:black;
    padding: 2%;
    opacity: 0.85
}

form.formStyle{
    padding: '10px 25px' ;
}
div.inputContainerStyle{
    display: 'flex';
    justify-Content: 'flex-start';
    margin: '5px 0px';
}
input.inputStyle{
    margin-Left: '7px';
    border:'0px';
    border-Radius: '2px';       
    padding: '3px 5px';
}