@charset "UTF-8";


.notification-container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  width: 435px;
  padding: 0px 15px;
  max-height: calc(100% - 10px);
  overflow-x: hidden;
  overflow-y: auto;
}

.notification {
  box-sizing: border-box;
  padding: 15px 15px 15px 15px;
  border-radius: 2px;
  color: #fff;
  background-color: #ccc;
  box-shadow: 0 0 12px #999;
  cursor: pointer;
  font-size: 0.5em;
  line-height: 1.2em;
  position: relative;
  opacity: 0.9;
  margin-top: 15px;
  font-Family:'Source Sans Pro';
}

.notification .title {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0 0 5px 0;
  font-Family:'Source Sans Pro';
}

.notification:hover, .notification:focus {
  opacity: 1;
}

.notification-enter {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
}

.notification-enter.notification-enter-active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all 0.4s;
}

.notification-leave {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.notification-leave.notification-leave-active {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
  transition: all 0.4s;
}

NotificationManager.notification:before {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -14px;
  display: block;
  font-Family:'Source Sans Pro';
  width: 28px;
  height: 28px;
  font-size: 28px;
  text-align: center;
  line-height: 28px;
}

.notification-success {
  background-color: #51a351;
}

.notification-warning {
  background-color: #bd362f;
}

.notification-info {
  background-color: #2f96b4;
}

.notification-error {
  background-color: #bd362f;
}

.notification-success:before {
  content: "";
}

.notification-warning:before {
  content: "\F06A";
  margin-right: 25px;
  margin-bottom: 10px;
  position: absolute;
  left: 17px;
  top: 36px;
}

.notification-warning .notification-message{
  margin-left:80px
}

.notification-info:before, .notification-warning:before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 5em;
  display: inline-block;

}
.notification-info:before {
  content: "\F05A";
  margin-right: 40px;
  margin-bottom: 10px;
}


.notification-message{
  font-size: 15px;
  display: inline-block;

}