*{
    font-family:'Roboto', sans-serif;
}
.searchIcon{
    width: 15px;
    position: 'absolute';
    pointer-events: 'none';
    display: 'flex';
    align-Items: 'center';
    justify-Content: 'center';
  }
  .inputRoot{
    color: 'inherit';
    width: '100%';
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1000;
    background-color: white;
    /* width: 20%; */
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: none;
  }
  
  li {
    font: 200 20px/1.5 'Source Sans Pro';
    border-bottom: 1px solid #ccc;
  }
  
  li:last-child {
    border: none;
  }

  #hideSearch{
    border: 0;
    margin-right: 0px;
    /* position:relative; */
  }
/* 
  MDBBtn{
    top: 0;
    right:0; 
    position:absolute;
  } */